<div class="{{ 'lg:fixed' if path == 'home' }} w-full">
  <nav 
  class="flex flex-col p-2 transition duration-300 ease-in-out" 
  :class="{ 'min-h-screen bg-gray-900': isOpen }"
  x-data="{ isOpen: false }"
  @keydown.escape="isOpen = false">

    <div class="flex items-center justify-center flex-row">
      <!-- Logo-->
      <a href="/" 
      class="text-indigo-500 font-bold text-lg"
      :class="{ 'invisible': isOpen }">
        <img src="/static/img/logo.svg" class="w-20" alt="Desk to defender homepage" />
      </a>

      <!-- Menu (button)-->
      <button type="button"
      class="ml-auto block uppercase text-4xl font-bold mr-3"
      :class="{ 'text-white': isOpen }" 
      @click="isOpen = !isOpen">
        <span x-show="!isOpen">menu&vellip;</span>
        <span x-show="isOpen">close &cross;</span>
      </button>
    </div>

    <div class="text-center uppercase text-sm pt-3 pb-2 border-b border-gray-900"
    :class="{ 'border-transparent': isOpen }">
      <span :class="{ 'invisible': isOpen }">
      A leftist's guide to defensive principles
      </span>
    </div>

    <!-- Menu -->
    <div 
    class="w-full flex-grow border-t border-gray-700" 
    :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }" 
    @click.away="isOpen = false" 
    x-show="isOpen">

      {% if navigation.items %}

        <ul class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center">
          {% for item in navigation.items %}
            <li class="nav__item mr-3">
              <a 
              href="{{ item.url }}"
              class="text-ml inline-block text-gray-500 no-underline hover:text-indigo-500 py-2 px-4"
              @click="isOpen = false">
                {{ item.text }}
              </a>
            </li>
          {% endfor %}
        </ul>

      {% endif %}

    </div>

  </nav>
</div>